@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root
{
    --font-roboto : font-family: 'Roboto Mono', monospace;
    --font-color: linear-gradient(150deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

body{
    font-family: var(--font-roboto);
}

.head-picture>img
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
}

.head-name, .part-title, .subtitle, i
{
    background: var(--font-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.progress
{
    background: linear-gradient(150deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

@media screen and (min-width: 768px)
{
    .over-768
    {
        justify-content: center;
    }

    .content
    {
        width: 80%;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    section
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

